html
  head
    meta(property="og:image" content="https://hnzmzs.s3-us-west-2.amazonaws.com/lfshz/facebook0100243.png")
    meta(name="description" content="I am a RA patient,need you help now")
    title= title
  body
    h1= content
    //- facebook sdk
    //- script(async defer crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=547910102421338&autoLogAppEvents=1")
    script.
      // facebook配置
      //- window.onload = () => {
      //-   window.location.href = 'https://www.baidu.com'
      //- }
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      
      window.fbAsyncInit = function() {
        window.FB.init({
          appId: '547910102421338',
          autoLogAppEvents: true,
          xfbml: true,
          version: 'v5.0'
        });
      };
      console.log('v1')
      console.log('window.FB', window.FB)
      //- FB.ui({
      //-   method: 'share',
      //-   href: 'https://testfb.hzmra.com:808/' //这里换成你的网址
      //- }, function(response){
      //-   console.log('分享回调', response)
      //-   //分享回调
      //- })
